* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section,
.hero-section {
  background-color: #1f2937;
}


/* SETTING UP THE HEADER WITH NAV BAR */
.main-header {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

ul {
  position: sticky;
  top: 0;
  list-style-type: none;
  background-color: #dddddd;
  overflow: hidden;
  background-color: #1f2937;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  padding: 8px;

}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}

/*SETTING UP THE 'HERO' SECTION WITH A BUTTON */
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  border: none;
  padding: 12px;
  width: 100px;
  height: auto;
}

.sign-up:hover {
  background-color: black;
}

.image-container {
  float: right;
}

.img1 {
  width: 200px;
  height: auto;
}

/* INFORMATION SECTION */

.information {
  margin: 100px;
}

.information-text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-top: -50px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-img {
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  border: solid #3882f6;
}

.subtext {
  text-align: center;
  margin-top: -15px;

}

/*TESTIMONIAL*/

.testimonial {
  background-color: #e5e7eb;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding-left: 400px;
  padding-right: 400px;
}

.testimonial-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.thor {
  font-weight: 900;
  align-self: flex-end;
}

/* SIGN UP SECTION */

.action {
  margin: 100px;
}

.action-container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 10px;
  padding: 50px;
}

h2,
.action-text {
  color: #e5e7eb;
}

.sign-up2 {
  border-radius: 5px;
  border: 2px solid #f9faf8;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px;
  
}

.sign-up2:hover {
  background-color: black;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
  font-size: 18px;
  color: #e5e7eb;
  background-color: #1f2937;
  margin: 0px;
  height: 40px;
}